* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #c8cdd6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #4a6d4a;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h3 {
    color: #fafafa;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

.input-group label {
    font-size: 1rem;
    color: #fafafa;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #dddddd;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #357a38;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.7;
    pointer-events: none;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

input[type="submit"].enabled {
    opacity: 1;
    pointer-events: all;
}

input[type="submit"]:hover {
    background-color: #28a745;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    display: none;
}

.valid-message {
    color: #88ff88;
    font-size: 0.9rem;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    display: none;
}
